<a href="https://colab.research.google.com/github/codedevjk/Python-ML/blob/main/Movie%20Recommendation%20System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project on Movie Recommendation System

# **Import Library**

In [1]:
import pandas as pd
import numpy as np

# **Import Dataset**

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Movies%20Recommendation.csv')

In [3]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [6]:
df.shape

(4760, 21)

In [7]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

# **Get Feature Selection**

In [11]:
df_features=df[['Movie_Title','Movie_Language','Movie_Tagline','Movie_Cast'	,'Movie_Director']].fillna('')

In [12]:
df_features.shape

(4760, 5)

In [13]:
df_features

,Movie_Title,Movie_Language,Movie_Tagline,Movie_Cast,Movie_Director
0,Four Rooms,en,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Star Wars,en,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Finding Nemo,en,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Forrest Gump,en,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,American Beauty,en,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Midnight Cabaret,en,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Growing Up Smith,en,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,8 Days,en,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Running Forever,en,,,
4759,"To Be Frank, Sinatra at 100",en,,Tony Oppedisano,Simon Napier-Bell

In [15]:
x=df_features['Movie_Title']+''+df_features['Movie_Language']+''+df_features['Movie_Tagline']+''+df_features['Movie_Cast']+''+df_features['Movie_Director']

In [16]:
x

0       Four RoomsenTwelve outrageous guests. Four sca...
1       Star WarsenA long time ago in a galaxy far, fa...
2       Finding NemoenThere are 3.7 trillion fish in t...
3       Forrest GumpenThe world will never be the same...
4       American BeautyenLook closer.Kevin Spacey Anne...
                              ...
4755    Midnight CabaretenThe hot spot where Satan's w...
4756    Growing Up SmithenIt’s better to stand out tha...
4757    8 DaysenShe never knew it could happen to her....
4758                                    Running Foreveren
4759    To Be Frank, Sinatra at 100enTony OppedisanoSi...
Length: 4760, dtype: object

In [17]:
x.shape

(4760,)

# **Get Features Text Conversion to Tokens**

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [21]:
tfidf=TfidfVectorizer()

In [24]:
x=tfidf.fit_transform(x)

In [25]:
x.shape

(4760, 23963)

In [26]:
print(x)

  (0, 858)	0.17954722092355038
  (0, 21342)	0.21668837706428282
  (0, 13733)	0.1574755979034403
  (0, 13428)	0.1895596331319524
  (0, 1878)	0.19957204534035441
  (0, 11133)	0.10974677715712333
  (0, 1634)	0.15637792177459697
  (0, 1008)	0.15431892576580886
  (0, 18265)	0.1574755979034403
  (0, 21237)	0.12590710638749839
  (0, 12781)	0.1105727286303986
  (0, 15733)	0.06501907414670735
  (0, 7009)	0.17694548555308162
  (0, 23659)	0.14463797688177088
  (0, 15384)	0.1221452583267402
  (0, 23169)	0.19406181727701002
  (0, 7776)	0.09439803652587296
  (0, 23109)	0.12058514083880062
  (0, 11218)	0.16533938189249764
  (0, 21028)	0.08955378037601928
  (0, 15830)	0.10084188899270861
  (0, 5330)	0.130723863536907
  (0, 7607)	0.1335375628431395
  (0, 10037)	0.2225079517745313
  (0, 10652)	0.16622056337741817
  :	:
  (4757, 1121)	0.3059253783470255
  (4757, 19690)	0.3059253783470255
  (4757, 5364)	0.3059253783470255
  (4757, 20181)	0.2739807075834454
  (4757, 1593)	0.20715097811519173
  (4757, 4736)	0.21037139189465723
  (4757, 9377)	0.2293234732147012
  (4757, 15442)	0.20236773137626893
  (4757, 12015)	0.24649269541459884
  (4757, 9837)	0.18247680917702042
  (4757, 11883)	0.19038281408689797
  (4757, 21297)	0.10200019632268512
  (4757, 10883)	0.13066319102074528
  (4757, 15376)	0.15780996363546104
  (4758, 7805)	0.7649437385926646
  (4758, 18386)	0.6440971019868643
  (4759, 15878)	0.4321190808883199
  (4759, 10)	0.4321190808883199
  (4759, 19493)	0.4321190808883199
  (4759, 15218)	0.3979857617277387
  (4759, 7920)	0.2810359733268415
  (4759, 1303)	0.25108343985304465
  (4759, 2039)	0.27561909251190814
  (4759, 21297)	0.14407510525455378
  (4759, 1871)	0.2065889664897213

# **Get Similarity Score using Cosine Similarity**

In [27]:
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
Similarity_Score=cosine_similarity(x)

In [29]:
Similarity_Score

array([[1.        , 0.01809689, 0.04716487, ..., 0.        , 0.        ,
        0.        ],
       [0.01809689, 1.        , 0.01168801, ..., 0.        , 0.        ,
        0.        ],
       [0.04716487, 0.01168801, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.01469569],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.01469569, 0.        ,
        1.        ]])

In [30]:
Similarity_Score.shape

(4760, 4760)

# **Get Movie Name as Input form User and Variable for Closest Spelling**

In [ ]:
F_m=input('Enter your favourite movie:')

In [ ]:
M_T=df['Movies_Title'].tolist()